body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

//Variables
$teal: #008080;


//Typography 
h1, .h1 {
    font-size: 3.5rem;
}

h2, .h2 {
    font-size: 2.4rem;
}

a,
button {
    cursor: pointer;
}
//Global css

.cursor-pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.col-center,
.align-center,
.justify-center,
.justify-between  {
    display: flex;
}

.col-center {
    flex-flow: column wrap;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
} 

.border-50 {
    border-radius: 50%;
}

.text {
   &-center {text-align: center;}
   &-white {color: #ffffff;}
   &-bold {font-weight: 700;}
   &-uppercase {text-transform: uppercase;}
}

.bg {
    &-teal {background-color: $teal;}
}

.link-underline {
    color: teal;
    text-decoration: underline;
    margin: 0 10px;
    @extend .cursor-pointer;
    &:hover {
        opacity: 0.85;
    }
}

.color-teal {color: $teal;}

.global-btn {
    border-radius: 50px;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: $teal;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.3s linear;

    &:hover {
        background-color: #ffffff;
        color: $teal;
        border: 1px solid $teal;
    }
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    position: relative;
    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 9;
    }

    & > * {
        z-index: 10;
    }
}

.flex-1 {
    flex: 1;
}

.col-count-3 {
    column-count: 3;
}

.global-container {
    padding: 20px;
    max-width: 1920px;
    margin: 0 auto;
}

.login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80');
    background-size: cover;
}

.login-btn {
    min-width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

form {
    input {
        flex: 1;
        font-size: 16px;
        min-height: 50px;
        margin: 20px 10px 0px 0px;
        padding: 10px;
        border: 1.5px solid teal;
        border-radius: 4px;
      
        &,
        &::placeholder  {
          color: #0e3636;
        }
        
        &::placeholder {
          text-transform: uppercase;
        }
      
        &:focus-visible {
          background: #00808012;
          outline: none;
        }
    }
}

// Mixin for Media Query
//For tablet
@mixin tablet {
    @media(max-width: 1199px) {
        @content;
    }
}

//For Mobile
@mixin mobile {
    @media(max-width: 767px) {
        @content;

    }
}